.content {
    width: 1000px;
    margin: 0 auto;
}

.form-group__custom {
    margin: 20px;
}

.form-control__custom {
    margin-bottom: 15px;
}

.select2-selection.select2-selection--multiple {
    width: 245px;
}